<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">ActuNews</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('default_index') }}">Accueil</a>
                </li>
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('default_category', { alias : category.alias }) }}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark text-white ml-2"
                           href="{{ path('app_logout') }}">
                            Déconnexion
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark text-white"
                           href="{{ path('app_login') }}">
                            Connexion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark text-white ml-2"
                           href="{{ path('user_register') }}">
                            Inscription
                        </a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>