{% extends "base.html.twig" %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block content %}

    <div class="p-3 mx-auto text-center">
        <h1 class="display-4">{{ category.name }}</h1>
    </div>

    <div class="py-5 bg-light">
        <div class="container ">
            <div class="row">
                {% if articles is not empty %}
                    {% for article in articles %}

                        <div class="col-md-4 mt-4">
                            <div class="card shadow-sm">
                                <img class="card-img-top" src="{{ asset( 'images/articles/' ~ article.image ) }}"
                                     alt="{{ article.title }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ article.title }}</h5>
                                    <div class="card-text">
                                        <p>{{ article.content|striptags|u.truncate(200, '...') }}</p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{{ path('default_article', {
                                            'categorie' : article.category.alias,
                                            'alias' : article.alias,
                                            'id' : article.id
                                        }) }}"
                                           class="btn btn-primary">Lire la suite</a>
                                        <small class="text-muted">
                                            {{ article.user.firstname }} {{ article.user.lastname }}
                                        </small>
                                    </div>
                                </div>
                            </div> <!-- Fin card -->
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col alert alert-warning text-center">
                        Aucune publication pour le moment
                    </div>
                {% endif %}
            </div>
        </div> <!-- Fin container -->
    </div>
{% endblock %}

